<!DOCTYPE html>
<html lang="en" ng-app="controllerInheritanceApp">
<head>

    <title>Controller Inheritance</title>

    <!-- bower:css-->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="../bower_components/jquery-ui/themes/base/jquery-ui.css" />
    <!-- endbower -->

    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="../bower_components/angular-i18n/angular-locale_ru-ru.js"></script>
    <!-- endbower -->

    <script src="controllers/contrillerInheritance.js"></script>


</head>
<body ng-controller="topLevelCtrl">

<div class="well">
    <h4>Top Level Controller</h4>
    <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="reverseText()">
                Reverse
            </button>
            <button class="btn btn-default" type="button" ng-click="changeCase()">
                Case
            </button>
        </span>
        <input class="form-control" ng-model="data.dataValue"/>
    </div>
</div>

<div class="well" ng-controller="firstChildCtrl">
    <h4>First Child Controller</h4>
    <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="reverseText()">
                Reverse
            </button>
            <button class="btn btn-default" type="button" ng-click="changeCase()">
                Case
            </button>
        </span>
        <input class="form-control" ng-model="data.dataValue"/>
    </div>
</div>

<div class="well" ng-controller="secondChildCtrl">
    <h4>Second Chld Controller</h4>
    <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="reverseText()">
                Reverse
            </button>
            <button class="btn btn-default" type="button" ng-click="changeCase()">
                Case
            </button>
            <button class="btn btn-default" type="button" ng-click="shiftFour()">
                Shift
            </button>
        </span>
        <input class="form-control" ng-model="data.dataValue"/>
    </div>
</div>

</body>
</html>
