<!DOCTYPE html>
<html lang="en" ng-app="multipleControllersApp">
<head>
    <title>Controllers</title>

    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="../bower_components/jquery-ui/themes/base/jquery-ui.css" />
    <!-- endbower -->


    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/jquery-ui/jquery-ui.js"></script>
    <!-- endbower -->

    <script>
        var app = angular.module("multipleControllersApp", []);

        app.controller("firstController", function ($scope) {
            $scope.dataValue = "Hello, Adam!";

            $scope.reverseText = function () {
                $scope.dataValue = $scope.dataValue.split("").reverse().join("");
            };
        });

        app.controller("secondController", function ($scope) {
            $scope.dataValue = "Hello, Hanna!";

            $scope.changeCase = function () {
                $scope.dataValue = $scope.dataValue.toUpperCase();
            };
        });

    </script>


</head>
<body ng-cloak>
<div class="well" ng-controller="firstController">
    <h4>First Controller</h4>

    <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="reverseText()">
                Reverse
            </button>
        </span>
        <input class="form-control" ng-model="dataValue"/>
    </div>
</div>

<div class="well" ng-controller="secondController">
    <h4>Second Controller</h4>

    <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="changeCase()">
                Case
            </button>
        </span>
        <input class="form-control" ng-model="dataValue"/>
    </div>
</div>
</body>
</html>


